@font-face{
	font-family:PonyFont;
	src:url('Pony.ttf')
}
.gameBauCua{
	font-family:PonyFont;
}

/* @keyframes animationBauCua{
	0%{left: -50px};
	25%{left: 50px};
	50%{left: 0px};
	75%{left: -50px};
	100%{left: 50px};
}

.xucXac {
	left: 0;
	position: relative;
	animation: animationBauCua 2s;
} */